* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* CENTER SCREEN */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

/* CARD */
.container {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: darkgreen;
}

/* LINK */
.link-text {
  text-align: center;
  margin-top: 10px;
}